body {
    background-color: black;
    color: white;
    cursor: url('https://cdn.jsdelivr.net/gh/yourusername/yourrepo@latest/assets/cursor.png'), auto;
    margin: 20vmin;
}

nav ul {
    list-style-type: none;
    padding: 40px;
}

nav ul li {
    margin-bottom: 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

p {
    /* font-size: 28px; */
    line-height: 1.5;
}

.highlight {
    color: black;
    background-color: yellow;
}


.font-buttons {
    margin-bottom: 1rem;
  }

  button {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
  }